body
{
	background: none repeat scroll 0 0 #D6DBC9;
	font-family: "Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
a
{
	font-weight:bold;
	color: #2A5709;
	text-decoration:underline;
}
a:hover
{
	color: #1E4004;
	text-decoration:none;
}

.hide
{
	display:none;
}

#site-title
{
	margin:0;
	width:250px;
	padding:5px 0px;
	font-size: 26px;
	line-height: 32px;
	text-align:center;
	color:#F57622;
	text-decoration:none;
}
#no-riders
{
	position: absolute;
	left:35%;
	top: 30%;
	width: 30%;
	border: solid 2px #8A2F13;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #D6DBC9;
	padding: 7px;
}

#map-menu
{
	float: left;
	padding: 0px 5px 5px 10px;
	min-height: 160px;
	width: 250px;
}
#site-navigation 
{
	padding: 0px;
	list-style-type: none;
}
#site-navigation li
{
	margin: 3px 0px;
}
#site-navigation .nav-item
{
	font-size:20px;
	color: #000;
}
#site-navigation .nav-item:hover
{
	color: #383735;
}

#elevation-nav
{
	margin-left:2px;
}

#content
{
	float: right;
	padding: 20px 10px 10px 20px;
	min-height: 160px;
	border-left: solid 2px #CCC;
	width: 600px;
}
#container
{
	position:absolute;
	top: 0px;
	left: 0px;
	background-color: #D6DBC9;
	border-left: solid 4px #B5BAA9;
	border-top: solid 4px #B5BAA9;
	border-right: solid 2px #42453A;
	border-bottom: solid 2px #42453A;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#content-container
{
	width: 100%;
	border: solid 1px #C0C4B5;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#content-close
{
	float:right;
	margin-top:5px;
	margin-right:5px;
}
#content-close a
{
	font-weight:bold;
	color: #CC0000;
	text-decoration:none;
}
#content-close a:hover
{
	color: #AA0000;
	text-decoration:none;
}
#content-main
{
	float:left;
	width: 570px;
	padding:5px;
}
.clear-menu
{
	clear:both;
}




#primary-content-stages 
{
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
}
	
#primary-content-stages li.primary-content-stage 
{
	display: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	}
	
#primary-content-stages li.current-primary-content-stage 
{
	display: block ;
	}

ul.primary-content-views {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	}

ul.primary-content-views li.primary-content-view 
{
	display: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	}
	
ul.primary-content-views li.current-primary-content-view
{
	display: block ;
}














#content
{
	float: right;
	padding: 20px 10px 10px 20px;
	min-height: 160px;
	border-left: solid 2px #CCC;
	width: 600px;
}
#container
{
	position:absolute;
	top: 0px;
	left: 0px;
	background-color: #D6DBC9;
	border-left: solid 4px #B5BAA9;
	border-top: solid 4px #B5BAA9;
	border-right: solid 2px #42453A;
	border-bottom: solid 2px #42453A;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#content-container
{
	width:100%;
	border:solid 1px #C0C4B5;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#content-close
{
	float:right;
	margin-top:5px;
	margin-right:5px;
}
#content-close a
{
	font-weight:bold;
	color: #CC0000;
	text-decoration:none;
}
#content-close a:hover
{
	color: #AA0000;
	text-decoration:none;
}
#content-main
{
	float:left;
	width: 570px;
	padding:5px;
}
#elevation-profile-img
{
	/*position: absolute;*/
	float:left;
}
#elevation-profile-img img
{
	position:absolute;
}
#site-title
{
	margin:0;
	width:250px;
	padding:5px 0px;
	font-size: 26px;
	line-height: 32px;
	text-align:center;
	color:#F57622;
	text-decoration:none;
}

.marker-window
{
	
}
.marker-window a
{
	text-decoration:none;
	color: #131B75;
}

.marker-window a:hover
{
	color: #081063;
	text-decoration: underline;
}

.marker-window h3
{
	margin: 5px 0px;
}
.marker-window-trail
{
	font-weight:bold;
}
.marker-window-trail a
{
	color: #540909;
	font-weight:bold;
	text-decoration:none;
}
.marker-window-trail a:hover
{
	color: #540909;
	text-decoration:underline;
}
.marker-window-trail h4
{
	margin: 3px 0px;
}
.login-holder,
.signup-holder,
.recover-holder,
.settings-holder
{
	width: 50%;
}
.spot-edit-holder,
.about-holder
{
	width: 90%;
}

.login-holder input[type="text"],
.login-holder input[type="password"],
.recover-holder input[type="text"],
.spot-edit-holder input[type="text"],
.signup-holder input[type="text"],
.signup-holder input[type="password"],
.settings-holder input[type="text"],
.settings-holder input[type="password"],
.login-holder select,
.signup-holder select,
.recover-holder select,
.spot-edit-holder select,
.settings-holder select
{
	height:125%;
	font-size: 15px;
	font-weight:bold;
}

.about-holder
{
	font-size:14px;
	padding:5px;
	margin: 0px auto;
	background-color: #E6EBDA;
	border: solid 1px #ADB598;
	border-radius: 3px;
	-moz-border-radius: 3px;
	max-height: 250px;
	overflow-y: auto;
}

.login-holder,
.signup-holder,
.recover-holder,
.spot-edit-holder,
.settings-holder
{
	font-size:12px;
	font-weight:bold;
	padding:5px;
	margin: 0px auto;
	background-color: #E6EBDA;
	border: solid 1px #ADB598;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.delete-button
{
	font-weight:normal;
	color: #CC0000;
	text-decoration: none;
}
.delete-button:hover
{
	text-decoration: underline;
	color: #CC0000;
}

.login-button,
.signup-button,
.save-button
{
	font-size:14px;
	font-weight:bold;
	color: #FFF;
	background-color: #85723D;
	border: solid 1px #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 3px 8px;
	text-decoration:none;
}

.login-button:hover,
.signup-button:hover,
.save-button:hover
{
	cursor: pointer;
	background-color: #75622D;
	color: #F2EFE6;
	text-decoration:none;
}

.selected
{
	
}

.visible
{
	display:block;
}
.hidden
{
	display:none;
}
.clear
{
	clear:both;
}

.long-input-text
{
	width: 358px;
}

/*	START ERROR CSS	*/
.form-success, .form-errors
{
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:90%;
	margin:0px auto 5px;
	padding:8px;
	font-size: 13px;
	font-weight: bold;
	text-align:left;
}
.form-success h2, .form-errors h2
{
	text-align:center;
	margin-top:0px;
}
.form-success a, .form-errors a
{
	text-align:center;
	margin-top:0px;
	text-decoration:none;
}

.form-success a:hover,
.form-errors a:hover
{
	text-decoration:underline;
}
.form-errors a
{
	color: #700202;
}

.form-success a
{
	color: #09330B;
}
.form-success
{
	border: solid 1px #00B800;
	background-color: #DEFCDC;
	color: #215E21;
}

.form-errors
{
	border: solid 1px #B80000;
	background-color: #FCE2DC;
	color: #8C1717;
}
/*	END ERROR CSS		*/
